<!DOCTYPE html>
<html>
  <head>
    <title>Strata by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
  </head>

  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#"><img src="images/avatar.jpg" alt="" /></a>
        <h1>
          <strong>I am a Potato</strong>, a super simple<br />
          Potato<br />
        </h1>
        <h3>Crafted by Cosmina & Jinane (the potato team).</h3>
      </div>
    </header>

    <div id="main">

          <header>
            <div class="container">
              <div class="profile">
                <div class="profile-image">
                  <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" style="border-radius: 50%" alt="">
                </div>
                <div class="profile-user-settings">
                  <h1 class="profile-user-name" ><%= user.profile.username %></h1>
                  <!-- <button class="btn profile-edit-btn">Edit Profile</button>
                  <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> -->
                </div>
                <p><span class="profile-stat-count"><%= posts.posts.length %></span> posts</p>
                <div class="profile-stats">
                  <p></p><span class="profile-real-name">📆<%= user.profile.birthdate.toUTCString().substring(4, 16) %></span></p>
                </div>
                <div class="profile-bio">
                  <p><span class="profile-real-name">📍<%= user.profile.city %></p></span>
                </div>
                <div class="profile-bio">
                  <p><span class="profile-real-name">📓 <%= user.profile.aboutme %> </p></span>
                </div>
              </div>
              <!-- End of profile section -->
                </div>
    <!-- End of container -->
    
  </header>
  <main>
    <div class="container">
      <div class="gallery">
        <% posts.posts.reverse().forEach((post) => { %>
            <div class="gallery-item" tabindex="0">
              <img src="<%= post.url %>" alt="">
              <div class="gallery-item-info">
              </div>
            </div>
        <% })%>
      </div>
      <!-- End of gallery -->

  
    <div class="container">
        <p> Welcome <%= user.name %></p>
        <ul class="actions">
          <li><a href="/">Logout</a></li>
        </ul>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-github"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/jquery.poptrox.min.js"></script>
    <script src="../public/assets/js/browser.min.js"></script>
    <script src="../public/assets/js/breakpoints.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <script src="../public/assets/js/main.js"></script>
  </body>
</html>
