<!DOCTYPE html>
<html>
  <head>
    <title>Strata by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
  </head>

  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#"><img src="images/avatar.jpg" alt="" /></a>
        <h1>
          <strong>I am a Potato</strong>, a super simple<br />
          Potato<br />
        </h1>
        <h3>Crafted by Cosmina & Jinane (the potato team).</h3>
      </div>
    </header>

    <div id="main" >
      <section id="three">
        <!-- <h1>Welcome</h1> -->
        <% if(!user.profile){ %>
        <h2>Create your profile</h2>
        <div class="row">
          <div class="col-8 col-12-small">
            <form method="POST" action="/profiles/new" enctype="multipart/form-data">
              <div class="row gtr-uniform gtr-50">
                <div class="col-6 col-12-xsmall"> <input
                  type='file' name='image'
                    id="name"
                  /></div>
               
                <div class="col-6 col-12-xsmall">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                  />
                </div>
                <div class="col-6 col-12-xsmall">
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Username"
                    value="<%= typeof username != 'undefined' ? username : '' %>"
                  />
                </div>

                <div class="col-6 col-12-xsmall">
                  <input
                    type="text"
                    name="city"
                    id="city"
                    placeholder="City"
                    value="<%= typeof city != 'undefined' ? city : '' %>"
                  />
                </div>
                <div class="col-6 col-12-xsmall">
                  <input
                    type="date"

                    name="birthdate"
                    id="birthdate"
                    placeholder="Birthdate"
                    value="<%= typeof birthdate != 'undefined' ? birthdate : '' %>"
                  />
                </div>
                <div class="col-12 col-12-xsmall">
                  <input
                    type="text"
                    name="aboutme"
                    id="aboutme"
                    placeholder="About me"
                    value="<%= typeof aboutme != 'undefined' ? aboutme : '' %>"
                  />
                </div>
              </div>

              <button type="submit">Save your informations</button>
            </form>
          </div>
        </div>
        <% }else{ %>

          <header>
            <div class="container">
              <div class="profile">
                <div class="profile-image">
               <img src="<%= user.profile.url %>" style="border-radius: 50%" alt="" height="20%" width="20%">
                </div>
                <div class="profile-user-settings">

                  <h1 class="profile-user-name" ><%= user.profile.username %></h1>
                  <!-- <button class="btn profile-edit-btn">Edit Profile</button>
                  <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> -->
                </div>
                <p><span class="profile-stat-count"><%= posts.posts.length %></span> posts</p>
                <div class="profile-stats">
                  <p></p><span class="profile-real-name">📆<%= user.profile.birthdate.toUTCString().substring(4, 16) %></span></p>
                </div>
                <div class="profile-bio">
                  <p><span class="profile-real-name">📍<%= user.profile.city %></p></span>
                </div>
                <div class="profile-bio">
                  <p><span class="profile-real-name">📓 <%= user.profile.aboutme %> </p></span>
                </div>
              </div>
              <!-- End of profile section -->
                </div>
    <!-- End of container -->
    
  </header>
  <main>
    <form action="/posts/new" method="POST" enctype="multipart/form-data">
      <label for="title">New Post</label>
      <input type="text" name="title" placeholder="Title">
      <label for="post_content"></label>
      <input type="text" name="post_content" placeholder="Content">
      <input type='file' name='image' />
      <input type="submit">
    </form>
    <hr>
    <div class="container">
      <div class="gallery">
        <% posts.posts.reverse().forEach((post) => { %>
          <div class="gallery-item" tabindex="0">
            <h4><%= post.title %> </h4>
            <h5><%= post.post_content %></h5>
            <img src="<%= post.url %>" alt="" height="30%" width=auto>
            
          </div>
          <button type="button">Delete Post</button>
          <button type="button">Edit Post</button>
        <hr>
      <% })%>
      </div>
      <!-- End of gallery -->
  
    
  </main>
  <% } %>
  
    <div class="container">
        <p> Welcome <%= user.name %></p>
        <ul class="actions">
          <li><a href="/">Logout</a></li>
        </ul>
    </div>
      </section>
  </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-github"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/jquery.poptrox.min.js"></script>
    <script src="../public/assets/js/browser.min.js"></script>
    <script src="../public/assets/js/breakpoints.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <script src="../public/assets/js/main.js"></script>
  </body>
</html>
