<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Strata by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
            <h1><strong>I am Strata</strong>, a super simple<br />
                responsive site template freebie<br />
                crafted by <a href="http://html5up.net">HTML5 UP</a>.</h1>
        </div>
    </header>

    <div id="main">
        <section id="three">
            <h1> Welcome <%= user.name %>
            </h1>
            <h2>Create your profile</h2>

            <div class="row">
                <div class="col-8 col-12-small">
                    <form method="POST" action="/users/dashboard">
                        <div class="row gtr-uniform gtr-50">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="name" id="name" placeholder="Name"
                                    value="<%= typeof name != 'undefined' ? name : '' %>" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="username" id="username" placeholder="Username"
                                    value="<%= typeof username != 'undefined' ? username : '' %>" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="city" id="city" placeholder="City"
                                    value="<%= typeof city != 'undefined' ? city : '' %>" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="date" name="birthdate" id="birthdate" placeholder="Birthdate"
                                    value="<%= typeof birthdate != 'undefined' ? birthdate : '' %>" />
                            </div>
                            <div class="col-12 col-12-xsmall"  >
                                <input type="text" name="aboutme" id="aboutme" placeholder="About me"
                                    value="<%= typeof aboutme != 'undefined' ? aboutme : '' %>" />
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Save your informations" /></li>
                        </ul>
                    </form>
                </div>
            </div>

            <ul class="actions">
                <li><a href="/">Logout</a></li>
            </ul>

        </section>


    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/jquery.poptrox.min.js"></script>
    <script src="../public/assets/js/browser.min.js"></script>
    <script src="../public/assets/js/breakpoints.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <script src="../public/assets/js/main.js"></script>

</body>

</html>