<!DOCTYPE html>
<!--
    Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Strata by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
  </head>

  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" alt=""></a>
        <h1>
          <strong>I am a Potato</strong>, a super simple<br />
          Potato<br />
        </h1>
        <h3>Crafted by Cosmina & Jinane (the potato team).</h3>
      </div>
    </header>

    <div id="main">
      <section id="three">
        <h2>My profile</h2>
        <div class="row">
          <% profiles.forEach(profile=> { %>
          <div
            class="col-8 col-12-small"
            style="border: 1px solid black; padding: 10px; margin: 10px"
          >
            <div>Picture</div>
            <div>Name : <%= profile.name %></div>
            <div>Username <%= profile.username %></div>
            <div>City <%= profile.city %></div>
            <div>Birthdate <%= profile.birthdate %></div>
            <div>About me <%= profile.aboutme %></div>
          </div>
          <% }) %>
        </div>

        <ul class="actions">
          <li><a href="/">Logout</a></li>
        </ul>
      </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-github"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/jquery.poptrox.min.js"></script>
    <script src="../public/assets/js/browser.min.js"></script>
    <script src="../public/assets/js/breakpoints.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <script src="../public/assets/js/main.js"></script>
  </body>
</html>
